.cancel{
    float:right;
    margin-top: 10px;
}
.contact{
    font-weight: 800;
}
.button{
    float: right;
    margin-top: 10px;
    margin-left: 10px;

}
.totalform{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 130px;
    padding-bottom: 20px;
    font-weight: bold;
    height: 520px;
    overflow: auto;
    box-shadow: 0px 0px 25px;
}
.validation{
    color: red;
    font-size: 15px;
    font-weight: 500;
}
.hash{
    color:red
}
.totalrow{
    margin-right: unset;
}
